.scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;

    background-color: transparent;
  }

  &::-webkit-scrollbar-track {

  }
  &::-webkit-scrollbar-thumb {
    border-radius: 20px;

    background-color: #3b3c50;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}