.folder {
  cursor: pointer;

    user-select: none;
}

.folder_open {
  .folder__status {
    img {
      transform: rotate(90deg);
    }
  }
}

.folder__info {

  display: flex;
  align-items: center;
  gap: 5px;

  padding: 3px 0;
}
.folder__status {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2px 5px;

  img {
    width: 6px;

    opacity: .8;
  }
}
.folder__status_open {


  img {
    transform: rotate(90deg);
  }
}

.folder__content {
  padding-left: 20px;

  display: none;
}
.folder__content_open {
  display: block;
}